/* Global CSS */

.App {
  text-align: center;
}
h1 {
  margin: 20px;
}

/* Select CSS */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 30%;
}
.pagination button {
  margin: auto;
  padding: 10px;
}
/* List CSS */